.banner {
    justify-content: center;
    height: 100vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1,
.banner p {
    text-align: center;
}

.section .parallax {
    background-image: url("/home/img/above-footer.jpg");
    min-height: 900px;
    background-attachment: fixed;
    background-position: center 150%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 560px) {
    .banner {
        height: fit-content;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }
}