.banner {
    justify-content: center;
    height: 100vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1,
.banner p {
    text-align: center;
}

.banner .overlay {
    opacity: 0.8;
}

.reviews,
.reviews .row {
    height: 40vh;
}

.reviews.section .row .review-wrapper {
    flex-direction: column;
}

.reviews.section .row .review-wrapper .review-author {
    color: var(--primary);
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.4;
    transition: var(--transition);
}

.dots .dot:hover {
    cursor: pointer;
}

.dots .dot.active {
    opacity: 1;
    transition: var(--transition);
}

@media (max-width: 560px) {
    .banner {
        height: fit-content;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }
}